* {
    list-style: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #222529;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.navbar__logo {
    display: flex;
    margin-left: 20%;
    justify-content: space-around;
}

.navbar__menu {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.navbar__menu>li {
    margin-left: 50px;
    font-size: 1.1em;
}

.navbar__login {
    display: flex;
    margin-right: 20%;
}

.navbar__login>li {
    margin-right: 50px;
    font-size: 1.1em;
}

.top {
    background-image: url("main1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    white-space: pre-line;
    text-align: center;
}

.head__copy {
    padding-top: 150px;
}

.head__subcopy {
    font-size: 1.2em;
    color: rgb(160, 136, 136);
    white-space: pre-line;
    text-align: center;
    padding-top: 50px;
}

.main__button {

    border: none;
    border-radius: 28px;
    font-size: 1.2em;
    width: 130px;
    height: 3.8rem;
    background-color: rgb(108, 108, 226);
    margin-top: 50px;
    margin-left: 890px;
}

.main__button>a {
    color: white;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main_1 {
    background-color: white;
    padding-top: 220px;
    padding-bottom: 120px;
}

.main_1_box {
    display: flex;
    flex-direction: raw;
    padding-left: 320px;
}

.main_1_box>.left {
    padding-top: 150px;
}

.main_1_left1 {
    font-size: 1em;
    color: #7353ea;
    font-weight: bold;

}

.main_1_left2 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    padding-top: 20px;
}

.main_1_left3 {
    font-size: 1.1em;
    color: #878e95;
    padding-top: 20px;
    padding-left: 5px;
}

.main_1_right {
    padding-right: 10px;
}

.main_2 {
    background-color: #f8f9fa;
    padding-top: 220px;
    padding-bottom: 120px;
}

.main_2_box {
    display: flex;
    flex-direction: raw;
    padding-left: 220px;
}

.main_2_box>.right {
    padding-top: 220px;
    margin-right: 300px;
}

.main_2_right1 {
    font-size: 1em;
    color: #7353ea;
    font-weight: bold;
}

.main_2_right2 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    padding-top: 20px;
}

.main_2_right3 {
    font-size: 1.1em;
    color: #878e95;
    padding-top: 20px;
}

.main_2_left {
    margin-right: -390px;
}

.main_3 {
    background-color: white;
    padding-top: 220px;
    padding-bottom: 120px;
}

.main_3_box {
    display: flex;
    flex-direction: raw;
    padding-left: 320px;
}

.main_3_box>.left {
    padding-top: 200px;
}

.main_3_left1 {
    font-size: 1em;
    color: #7353ea;
    font-weight: bold;

}

.main_3_left2 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    padding-top: 20px;
}

.main_3_left3 {
    font-size: 1.1em;
    color: #878e95;
    padding-top: 20px;
    padding-left: 5px;
}

.main_3_right {
    padding-right: 10px;
}


.main_4_box {
    background-color: #f8f9fa;
    padding-top: 10px;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    font-size: 2.3em;
    font-weight: bold;
}

.brands {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brands2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brands3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brands4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 180px;
}

.main5 {
    background-color: rgb(27, 26, 26);
    background-image: url("background.png");
    background-size: cover;

}
.main5_copy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}
.main5_copy1 > h2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.main5_copy1 > p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
}
.main5_copy2 > h2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.main5_copy2 > p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px 80px;
}
.main5_copy3 > h2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.main5_copy3 > p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
}

.main_6 {
    background-color: #9986fe;
    padding-top: 220px;
    padding-bottom: 120px;
}

.main_6_box {
    display: flex;
    flex-direction: raw;
    padding-left: 320px;
}

.main_6_box>.left {
    padding-top: 140px;
}

.main_6_left1 {
    font-size: 1.2em;
    color: #ffffff;
}

.main_6_left2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 20px;
}


.main_6_right {
    padding-right: 10px;
    margin-right: -230px;
}

.main_6_button {
    border: none;
    border-radius: 28px;
    font-size: 1.2em;
    width: 130px;
    height: 3.8rem;
    background-color: #7353eA;
    color: white;
    margin: 40px 95px;
}

footer {
	/* width: 1408px; */
	height: 269px;
	padding: 120px 16px;
	background-color: #f8f9fa;
	box-sizing: unset;
}

footer .inner_footer {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 1232px;
	height: 100%;
}

footer .inner_footer .full_box {
	display: flex;
	flex-direction: column;
	width: 100%;
}

footer .inner_footer .full_box .top_footer {
	display: flex;
	justify-content: space-between;
}

footer .inner_footer .full_box .top_footer .right-side {
	display: flex;
}

footer .inner_footer .full_box .top_footer .right-side .icons {
	display: flex;
	align-items: center;
}

footer .inner_footer .full_box .top_footer .right-side .icons a {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 1rem;
}

footer .inner_footer .full_box .top_footer .right-side .icons a img {
	width: 100%;
}

footer .inner_footer .full_box .middle_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 4.25rem;
}

footer .inner_footer .full_box .middle_footer .md_inner_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3.5rem;
	width: 100%;
}

footer .inner_footer .full_box .middle_footer .md_inner_footer .text_footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer .inner_footer .full_box .middle_footer .md_inner_footer .text_footer .policy {
	display: flex;
	align-items: center;
}

footer .inner_footer .full_box .middle_footer .md_inner_footer .text_footer .policy a {
	/* display: inline-block; */
	margin-right: 16px;
}

footer .inner_footer .full_box .middle_footer .md_inner_footer .text_footer .policy a div {
	color: #4a5056;
	font-size: 12px;
}

footer .inner_footer .full_box .bottom_footer {
	color: #878e95;
	font-size: 14px;
}
